#chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #003366;
  color: #FFFAFA;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  border: none;
}
#chat-box {
  display: none;
  position: fixed;
  bottom: 70px;
  right: 20px;
  background: white;
  border: 1px solid #003366;
  padding: 10px;
  border-radius: 10px;
}
